<h4>Bird:</h4>
	<% birdList.forEach(bird => { %>
		<hr>
		<p>Name: <%= bird.name %></p>
		<p>Type: <%= bird.type %></p>
		<p>Wingspan: <%= bird.wingspan %></p>
		<p>Attitude: <%= bird.attitude %></p>
		<hr>
<% }) %>