<h4>Worms:</h4>
	<% wormList.forEach(worm => { %>
		<hr>
		<p>Name: <%= worm.name %></p>
		<p>Type: <%= worm.type %></p>
		<p>Wingspan: <%= worm.wingspan %></p>
		<p>Attitude: <%= worm.attitude %></p>
		<hr>
<% }) %>