<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles/style.css">
	<title>Document</title>
</head>
<body class="<%= className %>">
 <%- include("../components/header.ejs") %>
	<p><%= subTitle %></p>
	<img class="<%= image %>" src="/images/Shoebill.webp" alt="picture of bird" height="800" width="1200">
</body>
</html>