<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/style.css">
	<title>Document</title>
</head>
<body>
<%- include("../components/header.ejs") %>
	<main class="main">
		<h2 class="main-header">Bird information</h2>
		<p class="main-para">Birds are warm-blooded vertebrates found on every continent, from icy Antarctica to tropical rainforests. They are defined by feathers, beaks without teeth, and lightweight skeletons that help many species fly. There are over 10,000 known bird species, ranging from tiny hummingbirds to large ostriches. Birds play vital roles in ecosystems by pollinating plants, spreading seeds, and controlling insect populations. They communicate through songs, calls, and visual displays, and many species migrate thousands of kilometers each year to find food and breeding grounds.
		</p>
	</main>
<%- include("../components/footer.ejs") %>
</body>
</html>