<%- include("../components/head.ejs")%>
  <body>
    <%- include("../components/header.ejs") %>
    <main class="main">
      <div class="main-content">
        <p>Worm list:</p>
          <% if(locals.wormList) {%>
        <%- include("../components/wormList.ejs") %>
      <%} %>
      </div>
    </main>
    <%- include("../components/footer.ejs") %>
  </body>
</html>
