* {
	box-sizing: border-box;
	margin: 0;
}

html {
	height: 100vh;
}

body {
	background-color: lightseagreen;
	text-align: center;
}

.main {
	height: 100%;
}

.underline {
	text-decoration: underline;
}

.no-underline {
	text-decoration: none;
}

.birdBody {
	background-color: lightcoral;
}

.header {
	background-color: gray;
	height: 90px;
}

.shoeBill {
	width: 50%;
	height: 50%;
}