* {
	box-sizing: border-box;
	margin: 0;
}

html {
	height: 100%;
}

body {
	background-color: lightseagreen;
	text-align: center;
	height: 100%;
}

.main {
	height: 100%;
	width: 90%;
	margin: auto;
}

.main-zoo {
	height: 100%;
	margin: auto;
}

.main-div {
	width: 100%;
}

.flex-div {
	display: flex;
	height: 100%;
}

.sidebar {
	padding: 20px;
}

.para {
	margin-bottom: 15px;
}

.underline {
	text-decoration: underline;
}

.no-underline {
	text-decoration: none;
}

.birdBody {
	background-color: lightcoral;
}

.header {
	background-color: gray;
	height: 90px;
}

.shoeBill {
	width: 250px;
	height: 200px;
}

.header {
	background-color: lightgreen;
}

.sidebar-div {
	background-color: lightslategray;
}

.birdlist-component {
	text-align: start;
}

.footer {
	background-color: lightgreen;
	padding: 20px;
}